@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .pause {
    animation-play-state: paused;
  }

  .img-middle {
    transform: translateX(0px) translateY(-40px) scale(1) rotate(0deg) translateZ(0px)
  }

  .img-slide-left {
    transform: translateX(420px) translateY(45px) scale(1) rotate(0deg) translateZ(0px)
  }

  .img-slide-left-2 {
    transform: translateX(510px) translateY(50px) scale(1) rotate(0deg) translateZ(0px);
  }

  .img-slide-right {
    transform: translateX(-400px) translateY(35px) scale(1) rotate(0deg) translateZ(0px)
  }

  .img-slide-right-2 {
    transform: translateX(-485px) translateY(40px) scale(1) rotate(0deg) translateZ(0px);
  }

  .bg-about {
    background-image: url("../assets/png/background.webp");
  }

  .bg-about-data {
    background-image: url("../assets/png/backgroundBlue.webp");
  }
}

@font-face {
  font-family: "Inter";
  src: url("../../public/Inter/Inter.ttf") format("ttf");
}

html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.swiper-slide {
  width: auto !important;
  height: 250px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin-bottom: 5rem !important;
}